.title{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    padding-left: clamp(0.5em, 0.6em, 2em);
    margin: 0;

    color: #A05464;
}
@media screen and (max-width: 800px) {
    .title{
        padding-left: clamp(0.1em, 0.1em, 0.8em);
    }
}
.subtitle{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 26px;
    padding-left: clamp(0.1em, 0.3em, 3em);
    margin-top: 0;
    margin: 0;
        
    color: #454545;
    
}
@media screen and (max-width: 800px) {
    .subtitle{
        font-size: 0.9em;
    }
}
.header{
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: clamp(1em, 1.5em, 5em);
    padding-right: clamp(1em, 1.5em, 5em);
    background-color: #F5F5F5;
    align-items: center;

    border-bottom: 7px solid #4B272F;
}
.icons{
    display: flex;
    align-items: flex-end;
    justify-content: right;
}
@media screen and (max-width: 800px) {
    .icons{
        display: none;
    }
}
.faq, .chat, .notifi, .profile{
    margin-left: 1em;
}

/* dropdown button */
.dropbtn {
    border: none;
    background-color: #f8f4f4;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
/* End of dropdown button */

/* botão voltar */


/* circulo verde */
.greenCircle {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: #454545 solid 0.15em;
    background-color: #0ED15C;
    margin-right: 1em;
}
.whiteCircle {
    display: inline-block;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: #454545 solid 0.15em;
    background-color: #FFFFFF;
    margin-right: 1em;
}